<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/main.css" />
</head>

<body>
    <%- include("components/header") %>
        <section>
            <div class="container">
                <div class="modifier-tache">

                    <form action="/edit/<%= result.id_tache %>" method="post">
                        <p>
                            <textarea name="tache" id=""
                                autofocus><%= result.description_tache %></textarea>
                        </p>
                        <p class="footer-tache">
                            <input type="submit" value="Modifier" />
                            <a href="/tache/<%= result.id_tache %>">Annuler</a>
                        </p>
                    </form>
                </div>
            </div>
        </section>
</body>

</html>