<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/main.css" />
</head>

<body>
    <%- include('components/header') %>
        <section>
            <div class="container">
                <div class="liste-categories">
                    <h5><a href="/">Accueil</a> >> <a href="/liste/">Catégories</a></h5>
                    <% if(rows===false) { %>
                        <div class="no-data">
                            Cette page ne contient pas encore de catégorie !!
                        </div>
                        <% } else { %>
                            <ul>
                                <% rows.forEach(cat=> { %>
                                    <li><a href="/liste/<%= cat.nom_liste_taches %>">
                                            <%= cat.nom_liste_taches %>
                                        </a></li>
                                    <% }) %>
                            </ul>
                            <% } %>
                </div>
            </div>
        </section>

</body>

</html>