<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page non trouvé</title>
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/main.css" />
</head>

<body>
    <%- include('components/header') %>
        <section>
            <div class="container">
                <h1>Oops !!!</h1>
                <p>
                    Cette page n'existe pas 
                </p>
                <a href="/">Home Page</a>
            </div>
        </section>

</body>

</html>