* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e9e9e9;
    font-size: 1.2rem;
    font-family: monospace, sans-serif;
}
a {
    text-decoration: none;
    color: rgb(31, 37, 51);
}
.container {
    width: 80%;
    margin: 0 auto;
}
ul {
    list-style: none;
}