<header>
    <div class="container">
        <div class="logo">
            <a href="/">ToDoList</a>
        </div>
        <a class="menu-bar" href="/liste">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</header>